@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    position: relative;
    height: 100vh;    
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Puxa -50% para esquerda e -50% para cima*/
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;    
    /*Abrindo a imagem do telefone dentro desta seção*/
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
/*Alinha os ícones das redes-sociais no lado direito*/
section#redes-sociais {
    text-align: right;
    margin-right: 20px;
}

section#redes-sociais img {
    width: 50px; /*Comprimento das imagens*/
    margin: 10px; /* Margem de separação das imagens*/
    border-radius: 50%; /* Coloca as imagens no formato redondo ao invés de 10px, 50 por cento de arrendodamento */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.700);
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.534);
    /*Movimenta os ícones para a esquerda e para cima*/
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.700);    
}